[2019-05-21 20:27] joeldenning opened #8 "Rename this project to import-map-deployer"
sofe has been superceded by [import maps](https://github.com/WICG/import-maps), and I'm now encouraging the single-spa community to use this project to manage deployments. As such, I think the name import-map-deployer would be easier for people to remember and understand. Thoughts?

@nhumrich @blittle @TheMcMurder @frehner

[2019-05-21 20:45] nhumrich commented on #8
Wow.... What a boring name....

[2019-05-27 18:16] joeldenning commented on #8
Done

[2019-05-27 18:16] #8 closed

[2019-06-06 04:16] joeldenning opened #11 "Allow configuration of cache-control header (s3/digital ocean)"
See related https://github.com/openmrs/openmrs-esm-root-config/issues/5.

Browsers sometimes willfully disobey [cache-control max-age=0](https://github.com/CanopyTax/import-map-deployer/blob/master/src/io-methods/s3.js#L52). So either changing the default to 10 seconds or at least making it configurable within config.json would let users try to work around the browser's behavior.

[2019-06-06 15:57] nhumrich commented on #11
just cause I am curious, is this all browsers? or just firefox? I get a 404 at that specific site, but I can't reproduce with latest firefox on canopy's file.

[2019-06-06 15:58] nhumrich commented on #11
We could also try `Cache-Control: no-cache`

[2019-06-06 19:55] joeldenning commented on #11
You get a 404 for https://openmrs-spa.org/import-map.json? I get a json file.

@jonathandick was the one who experienced the problem. It appeared (although we're not 100% sure) that he was getting an old version of the importmap.

both Firefox and Chrome. If you uncheck the Disable Cache checkbox in the devtools, you stop getting the Cache-Control header. I think that means that the browser is cac

[2019-06-06 20:53] nhumrich commented on #11
ok, that url works now. Not sure why it wasn't before.

Anyways, firefox is actually working correctly:

![Selection_054](https://user-images.githubusercontent.com/4661889/59065733-a359e800-886a-11e9-9f97-3b4e14c18a44.png)

it shows "cached", but you can also see the latency and header field that is because it is sending the "validate" request. The cache-control "must-revalidate", means that the b

[2019-06-07 02:42] joeldenning commented on #11
interesting. So I guess we'll just chalk the issue jonathan saw yesterday up to something we don't fully understand and can't reproduce :)

[2019-06-07 02:42] #11 closed

[2019-06-14 12:06] joeldenning opened #14 "Cannot delete from import map if service name includes a `/` in it"
Having a `/` in a service name is pretty common, for namespacing. Example: `@openmrs/root-config`.

But deleting something from the import map doesn't work if you attempt to do so, probably because the `/` is interpreted to mean a different part of the route entirely.

[2019-06-14 12:54] nhumrich commented on #14
Ya, I'm not really sure how to resolve this issue. Have you tried encoding the  slash?

We should probably check for slash at creation and prevent it. Literally any other character for namespacing besides `/` or `?` would work.

[2019-06-14 14:51] frehner commented on #14
It's the standard in JS land to use the `@company/package` format though, so I think encoding it would probably be the better route rather than preventing it.

[2019-06-14 20:22] nhumrich commented on #14
does `@company` really need to be in the name? Is there a situation where multiple companies code would be deployed to the same location? I dont mind if we can get this to work, I am just trying to understand.

[2019-06-14 23:12] frehner commented on #14
It’s more to prevent name clashes for base names, eg if I happen to name a microservice “react” then there will be some problems with which react am I importing from?

[2019-06-17 20:59] joeldenning commented on #14
Encoding the `/` as `%2F` worked.

<img width="1237" alt="Screen Shot 2019-06-17 at 11 57 17 PM" src="https://user-images.githubusercontent.com/5524384/59636287-d0a47100-915b-11e9-8ad9-7e347fb543e6.png">

[2019-06-17 20:59] #14 closed

[2019-11-21 13:34] zleight1 opened #21 "NPX example doesn't work"
I'm setting up the recommended single-spa workflow and in testing this tool I got some weird behavior.

If you run the example `npx import-map-deployer config.json` (inside another project *not this one cloned*) you will get a 404 error from the NPM registry:

[code]

Either you're assuming the user is running it with a private mirror, or something else is my guess.

If you could clarify what the

[2019-11-21 15:25] joeldenning commented on #21
This is just a bug - we forgot to publish this to npm. There are several groups using this project in production, but all are currently using it via docker.

I'll publish this to npm and let you know when it's working

[2019-11-21 15:34] joeldenning commented on #21
Try it now! I fixed this in https://github.com/CanopyTax/import-map-deployer/commit/b2d415b20b2f5bbfd36a41888b71d58acc3f85f6 and https://github.com/CanopyTax/import-map-deployer/commit/4030e7a4f7e1e3999f288f5d3e2a264c64315a3f

[2019-11-21 15:34] #21 closed

[2019-11-21 17:16] zleight1 commented on #21
Amazing! This is a big help to our CD workflow!

On Thu, 21 Nov 2019 at 17:34 Joel Denning <notifications@github.com> wrote:

[2020-03-04 09:52] kristianmandrup opened #28 "How to use the Docker Hub image to push to Kubernetes cluster"
I'm following along your importmaps-deployer video tutorial.

I see there is a [live-import-map-deployer](https://github.com/joeldenning/live-import-map-deployer)

This is example of extending the `import-map-deployer` from docker hub

[code]

Wondering about the `conf.js` file. I've seen it in the video as `config.json` I believe? Please add sth to the readme for `live-import-map-deployer` and up

[2020-03-04 15:09] kristianmandrup opened #29 "GCP Kube cluster configuration to avoid deployment errors"
Tried to follow your guide and video tutorial to the best of my ability

When deploying image on GCP kube cluster:

- Does not have minimum availability
- PodUnschedulable: Cannot schedule pods: Insufficient cpu.

I've written a detailed [step by step guide](https://github.com/kristianmandrup/mfe-root-config#kubernetes-cluster-setup-for-import-maps-deployer)

[2020-03-04 19:42] mikebridge opened #30 "Feature request: allow non-auth access to health check"
When basic auth is enabled, accessing `/health` will return a 401 if the auth header is missing.  It would be nice to have the ability to turn off basic authentication for the `/health` request path.

In the meantime, `/` will work.

[2020-03-04 23:37] joeldenning commented on #30
Fixed in #31

[2020-03-04 23:37] #30 closed

[2020-03-04 23:51] joeldenning commented on #29
I don't know what those errors mean - "Insufficient CPU" sounds like you maybe have a budget set up in GCP that prevents adding the podf? And I don't know if you can lower the minimum availability or not.

I can't help you debug your GKE cluster, but wish you best of luck in getting the import-map-deployer running. The [pinned Youtube comment](https://www.youtube.com/watch?v=QHunH3MFPZs&lc=UgxlJBb

[2020-03-04 23:51] #29 closed

[2020-03-04 23:59] joeldenning commented on #28
I saw and commented on your PR in https://github.com/joeldenning/live-import-map-deployer/pull/1

Yes it should switch over to `singlespa/import-map-deployer`.

The filename for the config doesn't matter, as long as you provide it as an argument to `yarn start`. I did so in live-import-map-deployer [here](https://github.com/joeldenning/live-import-map-deployer/blob/91f06dee2054f9c4e1c35ccb518864c2

[2020-03-04 23:59] #28 closed

[2020-03-05 09:14] kristianmandrup commented on #29
I resolve it. I pushed my luck adding `auto-scaling`, setting `min` and `max` both to 1. Not a good idea.

Anyways, I'm creating various Infrastructure as Code projects to make setting up this infra a bit more scalable. Currently experimenting with Google Cloud Run (managed containers) (as mentioned in the pinned Youtube comment) which looks a lot easier.

[gcr-terraform](https://github.com/kristi

[2020-03-05 17:09] mikebridge opened #32 "Documentation: aliases missing"
The documentation shows that an alias can be created to set a default environment but it the syntax is missing from the documentation.

I would like to change my current setup to make `prod` the default but I'm not sure how to do it:

[code]

[2020-03-05 18:31] joeldenning commented on #32
You can change the default env by adding `default` to the locations object:

[code]

See related code:

https://github.com/single-spa/import-map-deployer/blob/ee8baee76114e327989e90d3f99bd0b6c9946476/src/web-server.js#L41-L47

This is documented [here](https://github.com/single-spa/import-map-deployer#option-1-json-file) - if there's a different area of the documentation that was unclear/confusing

[2020-03-05 18:31] #32 closed

[2020-03-08 16:37] kristianmandrup opened #34 "Enable configuration of exposed container port"
Currently the `Dockerfile` is hardcoded to expose port 5000

[code]

However in `web-server.js` it allows for a custom port supplied via the config file supplied as an argument when the webserver is started

[code]

Can be done nicely via `ARG` apparently [get-environment-variable-value-in-dockerfile](https://stackoverflow.com/questions/19537645/get-environment-variable-value-in-dockerfile)

[code

[2020-03-08 17:19] kristianmandrup commented on #34
Fixed with https://github.com/single-spa/import-map-deployer/pull/35

[2020-03-08 17:19] #34 closed

[2020-03-26 22:59] joeldenning opened #37 "Add support for "packages via trailing slashes""
See https://github.com/WICG/import-maps/#packages-via-trailing-slashes. This could be useful for those wanting to take things to the next level with in-browser modules, and allow for multiple entry points to a module.

Additionally it would be important for jspm@3 single-spa applications, where they patch the import map with an auto-generated one from jspm that would include trailing slashes.

[2020-03-26 23:02] joeldenning opened #38 "Add support for import map scopes"
Not sure exactly what this would look like. Perhaps the best way to support this would be through `PATCH /import-map.json`?

[2020-04-17 02:36] jsoriao opened #41 "Allow adding/updating service with non-public url"
When I run a curl command to a running instance of import-map-deployer

    curl -d '{"service":"service-name", "url":"service-url"}' -X PATCH localhost:5000/services\?env=dev ...

, it first verifies that the file in `service-url` exists by making a network request. However, if the `service-url` is not public, it fails.

It might be preferable if this check/verification can be disabled optionally

[2020-04-17 21:27] #41 closed

[2020-04-17 21:28] joeldenning commented on #41
I fixed this in #43 - it's now on dockerhub. If you want to use it via npm let me know and I can publish a new version

[2020-04-29 09:06] victorlevasseur commented on #38
Hi, that's exactly the feature I'm looking for. I intend to manage the scopes via a PATCH request to /import-map.json.

[2020-04-29 15:34] joeldenning commented on #38
Do you have interest in submitting a PR for this? If not, perhaps I would get to it at some point. I think the thing to think about with an implementation is that it would be nice to verify that all the URLs in the import map scopes are valid/reachable URLs. In the code we do this with https://github.com/single-spa/import-map-deployer/blob/master/src/verify-valid-url.js.

Another thing to consider

[2020-05-13 16:09] dgreene1 opened #45 "I'd like to volunteer to convert this package to TypeScript"
## Why would I want to do this?

Because I ultimately plan on forking this application so that I can make customizations but still occasionally merge new changes from the upstream source back into my private fork. But since my fork will be in TypeScript, it would be much easier for me to do that upstream merge if both are in TypeScript.

## But why TypeScript?

* it would help maintainers who are

[2020-05-13 16:21] frehner commented on #45
I'd be open to adding JSDoc type definitions and outputting a `.d.ts` file as part of the build of this project. Much like the work that was done in [single-spa layout](https://github.com/single-spa/single-spa-layout/blob/master/src/constructApplications.js)

I'm not sure I like the idea of converting the whole project to TS though. People who don't like or use typescript are much less likely to h

[2020-05-13 16:46] joeldenning commented on #45
I think reviving the tests is a more important concern right now than adding types. Right now we don't have any working tests. I worked on this in https://github.com/single-spa/import-map-deployer/pull/20 but never completed it.

[2020-05-13 19:00] dgreene1 commented on #45
As recently as 2019 surveys showed that 65.3% of developers have tried Typescript and that if those who have tried it 88.9% would use it again.

https://2019.stateofjs.com/javascript-flavors/

Let me put it this way, I’d be open to becoming an official maintainer of this repo and I would add tests as well, but only if it’s in TypeScript. I just don’t have time to write the number of quality automa

[2020-05-13 20:12] joeldenning commented on #45
Anthony and I discussed this over DM - we appreciate your desire to help, but don't think we'd like to have you switch it over to typescript. I love seeing new contributors, but am uncomfortable accepting conditions/demands for a contributor to volunteer their time.

The following tweet comes to mind: https://twitter.com/_developit/status/1251176832424181762?lang=en.

In my opinion, a person looki

[2020-05-13 20:12] #45 closed

[2020-05-13 21:53] dgreene1 commented on #45
Yea @joeldenning i agree. This is a great learning opportunity for me. It’s also a pretty humiliating moment. Any chance we can delete this issue?

I will say I’ve been an active member of the community and popular evangelist within multiple companies. You just might know it because I often write under a pseudonym on Twitter and dev.to.

But seriously, I regret the way I approached this and I woul

[2020-05-13 22:00] frehner commented on #45
if you're uncomfortable with this being public, I'm ok with it being deleted. our intention wasn't to shame or anything like that.

and we really do appreciate the offer to help! like Joel mentioned earlier, if we see a history of a person contributing, we often feel good about leaving bigger decisions like this to them - they've earned our trust :)

would love to still work out a way that would a

[2020-05-13 22:01] dgreene1 commented on #45
Yea @joeldenning i agree. This is a great learning opportunity for me. It’s also a pretty humiliating moment. Any chance we can delete this issue?

I will say I’ve been an active member of the community and popular evangelist within multiple companies.

But seriously, I regret the way I approached this and I would love to make it go away. If you’re not okay with deleting the issue, I guess I’ll li

[2020-05-13 22:03] joeldenning commented on #45
No worries, I don't have anything against you and am happy to continue working with you going forward. I recognize your profile picture from previous interactions (Github, maybe slack too?) and remember our previous interactions to have been positive.

I don't know how to delete Github issues, but don't have any problems doing so if it's possible.

[2020-05-13 22:23] joeldenning commented on #45
Figured out how to delete the issue - doing that now.

[2020-05-14 01:05] dgreene1 opened #46 "Offering unit testing help"
After #20 is complete, I'd be interested in helping to write some unit tests. Would @joeldenning be able to write some expectations here so that I can fill out the setups?

The following are just ideas. I'm open to however you want to help me to help you guys add test coverage. Since you @frehner and @joeldenning have been so kind, I'd really like to find a way to repay that kindness and to give b

[2020-05-14 15:25] frehner opened #47 "Typescript support / source code + Deno?"
There has been some interest in porting the source code to Typescript (e.g. @dgreene1 has expressed interest)

At the same time, Deno has just been released which supports TS natively. There have been some that have been interested in trying it out/supporting it. (@filoxo maybe?)

Perhaps we can take this as an opportunity to do both at the same time? Create a Deno version of this project that's w

[2020-05-14 15:27] joeldenning commented on #46
Hey @dgreene1, sure that would be awesome. Lack of tests are a big thing holding back this project - there are a lot of organizations that use the latest docker image, but we don't have any confidence when merging that our changes don't break anything.

I think a few e2e tests would be the most useful place to start. Ones that boot up the web server and make network requests to it, verifying corre

[2020-05-14 15:28] joeldenning commented on #46
You can look at https://github.com/single-spa/import-map-deployer/pull/20 for reference, although I don't think I'd start on that branch since it's really old and has some issues. There used to be tests for this project a few years ago and that PR was an attempt to revive them. However, I think it would be better just to start from scratch - those tests are sorta nasty and test things from back wh

[2020-05-21 07:10] zleight1 opened #48 "Feature Request: Set S3 ACL other than public-read"
We have a setup where setting the ACL of the import-map.json in S3 needs to be something other than public-read.

Right now in the s3 code, the PUT call is defaulted to 'public-read' and can't be overridden.

I think the best way would be another configuration variable, that validates against the list of pre-canned ACLs here: https://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html#canned

[2020-05-21 10:54] zleight1 commented on #48
I also pushed an image to test it out, as can be found here: https://hub.docker.com/repository/docker/zleight1/import-map-deployer

[2020-05-21 16:45] joeldenning commented on #48
Hi @zleight1 - sure I'm open to this. Let's make it an option within the config file? Perhaps something like this?

[code]

^ This sets us up to allow for changing any of the params passed to to s3's putObject function. I'm not sure if this would ever need to be different on a per-location basis?? If so, then maybe something like this?

[code]

Thanks for offering to send in the PR - much apprecia

[2020-05-24 09:42] zleight1 commented on #48
See updated PR

[2020-05-24 16:30] filoxo commented on #47
Interested if only for the sake of learning Deno and push that boundary a little bit. I don't know that this effort will totally replace import-map-deployer anytime soon but maybe it can uncover issues that we can backport to this repo.

[2020-05-25 17:35] #48 closed

[2020-06-01 20:10] joeldenning opened #50 "Add cache control header to import maps in Microsoft Azure"
Currently S3, Digital Ocean, and Google Cloud Storage all are instructed to send a Cache-Control HTTP response header when serving the import map file.

References:

https://github.com/single-spa/import-map-deployer/blob/6ff73eb1425ca5259fe3aa03fb779d6512d33757/src/io-methods/google-cloud-storage.js#L36

https://github.com/single-spa/import-map-deployer/blob/6ff73eb1425ca5259fe3aa03fb779d6512d3375

[2020-06-01 20:13] joeldenning opened #51 "Add correct Mime Type to S3, DO Spaces, Azure, and GCP Storage"
According to the import maps spec, import maps are required to send the mime type `application/importmap+json` in their response headers. SystemJS does not enforce this, but Chrome's native implementation does. We should update our io-methods so that AWS, Digital Ocean, Microsoft Azure, and GCP Storage are all instructed to do so whenever we modify the import map.

More info at https://github.com/

[2020-06-04 18:00] BartJanvanAssen commented on #51
i'll take it in on #52

[2020-06-04 19:02] joeldenning commented on #51
Resolved in #52

[2020-06-04 19:02] #51 closed

[2020-06-04 19:02] joeldenning commented on #50
Resolved in #52

[2020-06-04 19:02] #50 closed

[2020-06-05 18:33] BartJanvanAssen opened #54 "Support per environment access keys for azure"
So when a storage bucket is different per application you'll have to create an instance of the import map deployer per env, because the process env vars only support one key `process.env.AZURE_STORAGE_...` It would be nice if you can over ride the keys from the config file.

[2020-06-11 15:29] #46 closed

[2020-06-13 10:00] BartJanvanAssen opened #58 "Eslint validation"
Hey!

I was looking at some pr's i was writing on this project and noticed the eslint was ran by travis, though my editor + precommit hook is only checking for prettier. Can we also add eslint to the project as dev dependencies + precommit? the configuration is already on the project i noticed.

[2020-06-13 10:18] #58 closed

[2020-06-13 10:19] BartJanvanAssen commented on #58
was already done by Joel two days ago, missed it

[2020-06-22 16:33] joeldenning commented on #38
Support for this is now merged and available on Dockerhub. Thanks @BartJanvanAssen for your work on this.

[2020-06-22 16:33] #38 closed

[2020-06-22 22:04] #54 closed

[2020-06-23 21:51] BartJanvanAssen commented on #37
Not sure if I fully understand the additional jspm case, I think it should work with this pr. If not I would need bit more detail on that one :)

[2020-06-24 15:58] joeldenning commented on #37
jspm@3 isn't used heavily by the single-spa community right now, but it generates an import map that includes packages with trailing slashes. Users then would call PATCH /import-map.json with that import map, and expect it to work.

[2020-07-06 13:04] cablespaghetti opened #61 "Docker Image Versioned Tags"
Hi,

I've noticed that the Docker image on Docker Hub only has a "latest" tag. It would be great if new tagged releases could generate a new tag on Docker Hub as well, so it is possible for us to run a specific version in Production.

Thanks!

[2020-07-06 18:39] joeldenning commented on #61
I completely agree - happy to do this manually for previous releases. But would be interested in incorporating this into a `prepublishOnly` script.

[2020-07-06 18:58] cablespaghetti commented on #61
Hi Joel,

Given the images are built using Docker Hub Builds it should just be a case of configuring it to build on tags. I'm not very familiar with prePublishOnly scripts to know how that would work unfortunately.

Thanks
Sam

[2020-07-06 18:58] joeldenning commented on #61
Ah good point - we could have CI do this when it detects a new tag. I'll investigate

[2020-07-07 03:23] joeldenning commented on #61
I tried it with CI (https://github.com/single-spa/import-map-deployer/commit/aedd4ecf1cdc4b886b9a597d0160cad4cd9a6295) but it turned out to be somewhat tricky to get it working in Travis. I gave up once I ran into a problem where travis considered a push to master with new tags to sometimes be the master branch and sometimes not to be the master branch.

So I ended up implementing this as a `postp

[2020-07-07 03:23] #61 closed

[2020-07-07 03:26] joeldenning commented on #37
This is released in https://github.com/single-spa/import-map-deployer/releases/tag/v2.2.0

[2020-07-07 03:26] #37 closed

[2020-07-07 03:26] joeldenning commented on #37
Thanks @BartJanvanAssen

[2020-07-07 03:45] joeldenning commented on #61
Here is the `v2.2.1` tag - https://hub.docker.com/layers/singlespa/import-map-deployer/v2.2.1/images/sha256-d725ec45d3977e4decbfa119514fc537c9ad847df26bdda180c188ee4a809316?context=repo

[2020-07-07 04:55] joeldenning commented on #61
Ah I just realized that docker hub can do this very easily - switched over to using that.

[2020-07-07 15:46] pguerrero-divilo opened #62 "Cant delete a service name with /"
I patch a service via http call to import-map-deployer API endpoint with a name that contains a slash in it's name like _@divilo/authentication_

I think import map deployer should validate service name before adding it's reference. Otherwise delete mehhod wont do

[code]

![image](https://user-images.githubusercontent.com/65544031/86806826-8b5e2480-c079-11ea-863b-685f1dd060e6.png)

[2020-07-07 23:00] joeldenning commented on #62
Hmm this sounds like a bug in import-map-deployer. I'll try it out locally and see if there is a way we can allow for the DELETE to work.

[2020-07-08 09:43] cablespaghetti commented on #61
Great thanks! :)

[2020-07-08 22:11] BartJanvanAssen commented on #62
Encountered this also. also encoding with %2F doesn't seem to work :(

[2020-07-09 05:52] pguerrero-divilo commented on #62
Maybe we can upgrade delete method in order to receive body payload so you can choose how to delete via /:id (parameter) or by json body.

What do you think? @joeldenning and @BartJanvanAssen

[2020-07-10 21:20] andygauntnervertex opened #64 "Should DELETE delete both entries - with and without trailing slash?"
Afer reading it, I'm not sure if this is a duplicate of https://github.com/single-spa/import-map-deployer/issues/62 or not.  My apologies if it is.

1.  With `packagesViaTrailingSlashes=true`:

Calling `PATCH http://server:5000/services`
with this body:
[code]

Adds two entries to the import map:
[code]

Great.

2.  **My question**:  When you call `DELETE http://server:5000/services/TestService`,

[2020-07-13 17:24] joeldenning commented on #62
This is not a bug, since the endpoint works correctly if you properly URL encode the service name in the URL.

<img width="928" alt="image" src="https://user-images.githubusercontent.com/5524384/87334145-7232f900-c4fb-11ea-8579-df0759d2cff7.png">

[2020-07-13 17:24] #62 closed

[2020-07-13 17:26] joeldenning commented on #64
Yes, it should. I have submitted #65 to fix this.

[2020-07-13 17:30] #64 closed

[2020-07-13 17:33] joeldenning commented on #64
Fix released in https://github.com/single-spa/import-map-deployer/releases/tag/v2.2.2

[2020-07-13 17:48] joeldenning commented on #61
Just confirmed that this is not working. See https://hub.docker.com/repository/docker/singlespa/import-map-deployer/builds.

<img width="1276" alt="image" src="https://user-images.githubusercontent.com/5524384/87336234-bf649a00-c4fe-11ea-9e58-edf807eefd81.png">

I likely just configured docker hub incorrectly. If anyone spots anything wrong in that screenshot, please share.

[2020-07-13 17:56] pguerrero-divilo commented on #62
@joeldenning It will be a great idea to add this specification in README. Thanks Joel

[2020-07-13 18:11] joeldenning commented on #62
Would you like to add this to the documentation? Something in the `PATCH /services` and `DELETE services` that says "Service names should be URL encoded."

[2020-07-13 18:12] joeldenning commented on #61
Just fixed it. First successful auto build for a git tag is at https://hub.docker.com/repository/registry-1.docker.io/singlespa/import-map-deployer/builds/6e27cf34-2b5e-42f5-8289-1a515b9523e2

[2020-07-13 18:36] dgreene1 commented on #64
Thank you so much @joeldenning on behalf of my team. :)

[2020-07-17 09:00] pguerrero-divilo commented on #62
@joeldenning Hi joel, sorry for answering so late. Sure, I'll prepare a PR with this update ;) thanks so much for your work and also single-spa team.

[2020-07-31 21:04] kgehmlich opened #70 "Auth environment variables have no effect"
Setting `HTTP_USERNAME` and `HTTP_PASSWORD` as in the Dockerfile example has no noticeable effect. They neither set nor override the username and password values for basic auth.

Have I misunderstood the point of these environment variables?

[2020-08-01 01:04] joeldenning commented on #70
The `HTTP_USERNAME` and `HTTP_PASSWORD` environment variables are only used if your conf.js file says to use them. In the example in the readme, the conf.js file is copied into the final docker image, and it's presumed that the conf.js file references the environment variables as shown here:

See https://github.com/joeldenning/live-import-map-deployer/blob/de1b8994728f3d3b092f41c87d863dcc5ab6a2a7/

[2020-08-01 05:40] kgehmlich commented on #70
@joeldenning yep, I totally missed that `conf.js` is what's using those variables. Makes total sense, I must have just glossed over that part.

I'd be happy to help out! My team is evaluating using IMD in our migration to MFE and we'd be happy to help improve the project.

[2020-08-01 05:40] #70 closed

[2020-08-19 23:38] dgreene1 opened #74 "IAM role support to prevent the need to rotate keys for S3"
**Enhancement Request**
A new configuration option would allow the import map deployer to run as a specific [IAM Role (cli ref provided here)](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-role.html)  which would allow us to avoid using AWS CLI keys.

**Context / User Story:**

One of the AWS experts at my company @dsmith2828 pointed that due to our companies key rotating policies

[2020-08-20 15:57] joeldenning commented on #74
Hey @dgreene1, yes this should be supported. I thought though that this was done totally through AWS credential files, environment variables, and/or ec2 roles?

I'm looking at https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/loading-node-credentials-iam.html and https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/loading-node-credentials-shared.html and my impression

[2020-08-20 22:01] dgreene1 commented on #74
I’ll close this with the assumption that it works. If it doesn’t, I’ll reopen this issue. Thank you for finding those links. :)

[2020-08-20 22:01] #74 closed

[2020-10-23 16:46] dijitali opened #81 "Noisy logging of health check requests"
We use the `/health` endpoint as a Kubernetes readiness probe which results in a lot log noise because it gets called every few seconds.

Could we suppress logging of the `/health` endpoint if it returns a 200 response?

Happy to make a PR but looking for confirmation of:

- is the proposal OK?
- should I bother making it a configurable setting?
- if so, should it be off or on by default?

[2020-10-23 23:14] joeldenning commented on #81
👍  sure, this sounds good to me.

No, let's just always disable logging of the health endpoint.

[2020-10-26 16:46] #81 closed

[2020-11-12 18:39] mellis481 commented on #50
Based off the above, it appears that the IMD will automatically set a cache-control header to `CacheControl: "public, must-revalidate, max-age=0"` for the importmap.json file when it initially creates the file in the cloud.  This header is not correct, however, or it's at least not what I would want mine to be.

[Here](https://single-spa.slack.com/archives/C8R6U7MT7/p1605036214185300) is a discuss

[2020-11-13 15:50] joeldenning commented on #50
Most CDNs will cache the import map at edge locations only for a short time when they see the max-age header. Caching the import map a little bit can be good for performance. Cloudfront, for example, sometimes will cache it in edge locations but it only lasts for a minute or so.

I'm open to adding no-cache or no-store to the headers, but I also think we might need to add a configuration option al

[2020-11-18 15:38] dgreene1 commented on #50
I agree with @joeldenning's solution (a configuration option and a possible reconsidering of the default) and I agree with @mellis481's assessment of the importance of this change.

All around 👍. So @joeldenning how would you like to approach this? Should this issue get reopened and then @mellis481 or I can make the PR?

[2020-11-20 17:02] joeldenning commented on #50
Yes I'm open to a change allowing for configuring of the cache control header. I'd prefer a new Github issue, since this issue was already resolved and the new discussion is something different. I'm happy to review a pull request with the change.

[2021-01-04 20:37] iot-resister opened #84 "Minio Support"
Just wanted to share. I got this working as it is similar to digital ocean spaces:

`config.json`
[code]
`docker-compose.yml`
[code]

[2021-01-04 21:17] joeldenning commented on #84
👍  thanks for sharing, I'm sure others will find this helpful, too. One thing I spotted in your config is that the `manifestFormat` is incorrect - it should be `"importmap"` instead of `"importmaps"`.

@iot-resister would you be open to opening a pull request to document this? You can use the digital ocean section in the docs as a pattern.

[2021-01-04 21:18] frehner commented on #84
I was also about to experiment into making this issue a "discussion" as a form of documentation :)

[2021-01-04 21:25] iot-resister commented on #84
@joeldenning  yeah I found that out when I tried to do a patch!  Thanks for the catch!

[2021-01-04 21:52] joeldenning commented on #84
The documentation for `s3Endpoint` is already accurate:

I think just adding another section below Digital Ocean Spaces that has much the same content, but talking about Minio, would be good.

[2021-01-09 18:42] #84 closed

[2021-01-21 18:30] mellis481 opened #87 "Add cache control configuration option"
This issue is a continuation of the discussion from [this](https://github.com/single-spa/import-map-deployer/issues/50#issuecomment-726263780) item regarding adding a new configuration option to be able to set the cache-control header for the importmap.json file.  The default is `public, must-revalidate, max-age=0` which results in the file being cached at cloud edge locations for an indeterminate

[2021-01-21 21:09] mellis481 commented on #87
It appears that this setting does NOT result in the cache-control header of the importmap.json file be set with an overridden value.

In the thread I linked above, I believe an assertion was made that the import-map-deployer will only be able to set/update the cache-control header value of the importmap.json file if the importmap.json file is living with the import-map-deployer service.  That is n

[2021-01-21 22:04] joeldenning commented on #87
No this doesn't work - not sure where you got the idea to try it. We don't pass the import-map-deployer config straight through the the AWS SDK.

I think the best approach would be to add a new configuration item called `cacheControl`. That way we could respect the configuration for other backends, too, not just for S3.

[code]

[2021-01-22 14:15] mellis481 commented on #87
@joeldenning Glancing at the s3.js file, it looked like the following code would use the `s3.putObject` config to override the default values when writing the importmap.json file:

[code]

I guess I'm not reading it correctly?

[2021-01-22 18:25] dgreene1 commented on #87
@joeldenning would you be comfortable with us writing validation and unit test testing that ensures the following?

- a user can only set `CacheControl` to either
  - `"no-store"`
  - a string ending in `"must-revalidate, max-age=0"`

I feel that it's important to do this since (from my perspective), the whole point of the import map is that it's fetched fresh anytime an update to it is made.

[2021-01-22 19:35] mellis481 commented on #87
@dgreene1 There are enough options with the [cache-control](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control) header that I'm not sure the second validation item (a string ending in `"must-revalidate, max-age=0"`) is reasonable unless we would want to be very stringent.  Order doesn't matter for the comma-delimited cache-control directives FWIW.  Also, eg. someone could want

[2021-01-22 21:52] joeldenning commented on #87
@mellis481  it looks like i misremembered the code we had in s3 - yes it looks like we do pass through the s3 options. Not sure why that didn't work for you. I still think the `cacheControl` option is probably best as a top level config, though, so that it works with all io-methods. I've merged that PR and will release a new version shortly.

@dgreene1 no, I don't think we can safelist all valid c

[2021-01-22 21:52] #87 closed

[2021-01-22 22:07] joeldenning commented on #87
The `cacheControl` option was implemented in https://github.com/single-spa/import-map-deployer/pull/89, and fixed in #90. I have released it in https://github.com/single-spa/import-map-deployer/releases/tag/v3.2.0

[2021-01-23 13:17] mellis481 commented on #87
I actually think I had a syntax issue. It should work and FWIW it would actually override the `cacheControl` config value if you also supplied `s3.putObject.CacheControl` (for AWS only of course). Not sure if this is a concern. If so, we'd just want to move the CacheControl set line in s3.js below the s3Object spreading.

[2021-02-06 00:35] vongohren opened #92 "Im getting cannot read importmap.json during health check"
Right now Im getting this issue when building and deploying to cloud run.
I have solved it by adding USER root in my wrapping Dockerfile.

But it does not feel good, so I wonder what is suppose to be possible?

There is a line in this Dockerfile, that sets www to be owned by root, and I believe that conflicts with the user is set to node. That again conflicts with IO operation of reading the local

[2021-02-08 17:01] joeldenning commented on #92
Generally people haven't used the local file for deployed import maps, but prefer one of the other supported storage locations (like s3). When your configuration file is set to use s3, it shouldn't attempt to read the import map from local file.

With that said, I see the problem you described where root is the only thing with access to the www folder. This was added in https://github.com/single-s

[2021-02-10 20:18] vongohren commented on #92
@joeldenning I have configured towards google cloud storage, so maybe there is something missing in the code base?

[2021-02-12 19:11] joeldenning commented on #92
It looks like the code maybe uses the file system for the health check if their is no `location` in the config called `default`. Which isn't a good behavior. Perhaps a better behavior would be just to read the first manifest in the `locations` object if there's no location called `default`?

See this code:

https://github.com/single-spa/import-map-deployer/blob/841b26530c750b0725936747af037fcd3b0d

[2021-02-12 23:40] vongohren commented on #92
@joeldenning something like this? https://github.com/single-spa/import-map-deployer/pull/95
Btw, I dont know what im doing wrong with git here, since my old commits is not gone?
Is this some rebase thing or?

I merged origin master into my fork master. But it doesnt sync up?
Any suggestions to what I can do?

[2021-02-12 23:48] joeldenning commented on #92
It's okay, the diff looks good and the commits will be squashed when they get merged. The reason is that you didn't branch off of master for the first PR, so now your master branch has commits that the upstream repo does. If you wish to contribute more in the future, you can run the following, and then branch off of master for future PRs.

[code]

[2021-02-12 23:54] joeldenning commented on #92
Fix released in https://github.com/single-spa/import-map-deployer/releases/tag/v3.3.1

[2021-02-12 23:54] #92 closed

[2021-03-08 05:11] ajasingh opened #96 "Non Existent Envoirnments in Conf.js should return error instead of returning the default envoirnment settings"
I have configured two envoirnment in my conf.js with below file which are working fine when i get and patch import-map.json but it always returns sit1 file for wrong envoirnment like sit3 and sit4 which are not even existing in conf.js , ideally it should throw error if wrong envoirnment name is passed in the query string

Below url still works which should not work
**import-map.json?env=sit3**
[c

[2021-03-08 18:02] joeldenning commented on #96
This was introduced in https://github.com/single-spa/import-map-deployer/pull/95 (cc @vongohren).

The intent of #95 was to use the first location when the `env` was omitted entirely (as happens when doing the initial health check). However, it seems it's using the first location even when `env` is present.

I'll put together a fix.

[2021-03-08 19:07] joeldenning commented on #96
I've fixed this in #97

[2021-03-15 10:36] vongohren opened #98 "Create empty file when not found"
I wonder about one thing. I found that this service expects it to exist a file in the storage location for it to work? Is that correct? Or is it something I have done wrong?

The problem with this is when initiating the infrastructure, it is unclear who shall controll this empty state. Setting up with terraform and creating a file a provision is not optimal, as the terraform state changes and the

[2021-03-15 17:27] #96 closed

[2021-03-15 17:31] joeldenning commented on #96
This is released in https://github.com/single-spa/import-map-deployer/releases/tag/v4.0.0

[2021-03-15 17:31] joeldenning commented on #47
Closing due to inactivity

[2021-03-15 17:31] #47 closed

[2021-03-15 17:40] joeldenning commented on #98
import-map-deployer currently will create an empty import map if the io-method's `readManifest` function returns an empty string. See the code below: https://github.com/single-spa/import-map-deployer/blob/3c947e205a6c1d987b876a4bcdced6577481b248/src/modify.js#L50-L51

Currently the in-memory io-method (used mostly for tests) will return an empty string from readManifest when it's starting out, but

[2021-03-15 22:22] vongohren commented on #98
@joeldenning yeah that does seem like a nice solution. As the error is thrown from this service when there is nothing to find.

I will see if I can get to this within a week or so, but no promises. If anyone else does find the time to do this before, its probably a better bet

[2021-03-16 12:23] anas1409 opened #99 "Can't host import map inside a folder in google cloud storage"
Import map deploy doesn't support a path like gs://bucketname/prod/importmap.json. It throws a 404 error and dies.

But it works when file is hosted directly inside the bucket.

![image](https://user-images.githubusercontent.com/55309149/111308285-ec5fe280-8673-11eb-9e1f-4dcda2f2c88c.png)

[2021-03-16 21:48] joeldenning commented on #99
It looks like the problem is related to this regex:

https://github.com/single-spa/import-map-deployer/blob/585b24120846a7f70b00588c9e555b3158ec2a97/src/io-methods/google-cloud-storage.js#L5

It tries to capture the bucket name separately from the object key, but fails to do so because the first `.+` is greedy in the regex, but should be lazy. I'll put together a pull request with the fix

[2021-03-16 22:12] #99 closed

[2021-03-16 22:14] joeldenning commented on #99
Fix is released in https://github.com/single-spa/import-map-deployer/releases/tag/v4.0.1

[2021-03-17 07:00] anas1409 commented on #99
@joeldenning Many Thanks!

[2021-03-18 15:56] joeldenning commented on #98
Do you have interest in submitting a pull request implementing this?

[2021-03-18 22:13] vongohren commented on #98
@joeldenning its on the list of things I have left of my current job. But not highest on the list right now. So that is why I said not to promise anything and it may take some time. But I like this tool so it might be time until it is in

[2021-03-23 15:47] anasanzari opened #101 "Throwing request error on updates"
I'm getting following error for PATCH requests:

RequestError: The downloaded data did not match the data from the server. To be sure the content is the same, you should download the file again.

I'm not sure what this file is. I'm running the deployer as a cloud run instance with max_instances 1. Does this implementation require the service to be running all the time?

[2021-03-24 06:43] #101 closed

[2021-03-25 08:18] kfrederix opened #102 "Authentication broken"
Hi! First of all: thank you for this great tool!
While playing with this yesterday, I noticed that the authentication was not working.
A recent change to `config.js` removed the `exports.config`, but that was still used from `io-operations.js`.

I have linked a pull request to fix this.

[2021-03-29 16:43] #102 closed

[2021-04-06 11:12] anasanzari opened #106 "Import map isn't updated sometimes unless retried"
Storage: Google Cloud
PATCH requests return 200, but map isn't actually updated
However it works after retrying

[2021-04-06 23:55] joeldenning commented on #106
Are you sure this isn't related to cache control or CDN edge location caching within GCP?

[2021-04-07 13:12] anasanzari commented on #106
@joeldenning yes, i observed it a couple of times and verified it. As a workaround, i'm doing the PATCH request 3 times and it seems to fix the issue.

[2021-04-07 22:33] joeldenning commented on #106
This one will be difficult to track down without a way for me to reproduce it. I have a GCP import-map-deployer running at https://github.com/joeldenning/live-import-map-deployer, with CI processes calling the import map deployer in ~20 repos. But I haven't seen this problem before. Any ideas on how I can reproduce it?

[2021-04-13 06:57] anasanzari commented on #106
@joeldenning I couldn't find a way to reproduce it with consistency. I'm not facing the issue after retrying is added. Thanks for the support.

[2021-04-13 06:57] #106 closed

[2021-04-27 13:04] quenchaman commented on #98
Hello, @joeldenning ! :) Long time no write!
I came across this issue, because I have a similar use-case, maybe I could help.

So we will be creating a new manifest in S3 if there is nothing there, right? In a nutshell?

[2021-04-27 13:28] vongohren commented on #98
@quenchaman @joeldenning yeah I have not been able to get to it, but yeah, basically create an empty manifest in the bucket of choice. Not just s3 :P
So putting it at a layer that handles all supported buckets

[2021-04-30 22:05] quenchaman commented on #98
Making it work for all buckets in a higher level of abstraction is like playing twister with an octopus..
I think that we cannot get around checking what the error is before doing anything and every bucket provider has different error codes and messages. io-operations.js -> readManifest is a good candidate for such code.
But I would personally go with defining the logic for each persistance type s

[2021-05-01 05:50] vongohren commented on #98
@quenchaman sounds smart. But how about putting it at the right abstraction level, and letting the different bucket types hold the error handling so you atleats put it in the right place? If that makes sense?

I dont remember if there is class abstractions or anything there, but when then read manifest would fail, one can call this.handleError? Or do a switch case with a default action of file cre

[2021-05-01 18:50] quenchaman commented on #98
I do not think that putting the checks in a centralised place is a good idea and with the current error handling it would be a nightmare.
Yes, you would handle it "in one place", but that can't be in a polymorphic way.
At least that's my engineering view of it.

[2021-05-01 23:17] vongohren commented on #98
Its a long time since I have been in the code base, so unsure, I guess it was my hope that getManifest was agnostic of what bucket called it, so that it could just handle and error where the bucket implementation would take over.

[2021-05-05 00:52] joeldenning commented on #98
#107 implemented this for s3 and is released in https://github.com/single-spa/import-map-deployer/releases/tag/v4.1.0. This still needs to be implemented for the other providers, so I'm keeping this issue open to track it for them.

[2021-05-06 15:49] rperrotebee opened #108 "Understanding http auth for getting json"
Hi,

I am trying to use the deployer to avoid cache problems in my microfronts.

I require to update the import-map.json there is some kind of security like username and password, but when I want to fetch it from my container (index.html) I don't want to use the http auth.

is there any configuration for the import-map-deployer to act this way?

[2021-05-06 16:46] #108 closed

[2021-05-06 16:47] rperrotebee commented on #108
now I understand the use of import-map-deployer

[2021-05-07 21:46] joeldenning commented on #108
Yes generally we don't recommend using import-map-deployer to host the production import map, since it can be a security risk to expose the service to the public. Instead, host the file on a CDN and have import-map-deployer update it.

[2021-05-07 22:17] joeldenning commented on #98
Azure support in #109, but reopening for the remaining io methods

[2021-05-27 18:41] brenoalvs opened #116 "npx command not working on Node 12.x"
Hey, it's my first time using this. Very nice tooling!

I didn't find which Node version is supported in the documentation so I'm just reporting it.
It's working fine on Node.js 14.x for me.

[code]

Thanks!

[2021-05-27 21:20] joeldenning commented on #116
import-map-deployer requires nodejs@>=14. See code below that shows this:

https://github.com/single-spa/import-map-deployer/blob/dd2a6c0f3fae49f3d0021d76583e7af4be7d826f/package.json#L26-L28

[2021-05-27 21:20] #116 closed

[2021-06-18 20:38] ismail261 opened #119 "How cdn url is same for every environment?"
@joeldenning

https://github.com/single-spa/import-map-deployer/blob/main/examples/ci-for-javascript-repo/gitlab-aws-no-import-map-deployer/.gitlab-ci.yml

I am trying to implement deploy process for our single spa apps. Above example has same CDN URL's for all environment. But each environment has its own bucket. So how would one cdn url point to different bucket?

And if that is not the case and

[2021-06-21 17:31] joeldenning commented on #119
I don't understand this question. The example file you linked to uses a separate CDN for each environment, and uses the PUBLIC_CDN_URL environment variable to change which CDN is used for each environment. The PUBLIC_CDN_URL environment variable is generally different for each environment. For example, the QA environment is usually something like https://qa.example.com/ and for stage it is https:/

[2021-06-21 17:31] #119 closed

[2021-08-11 09:43] Jarryxin commented on #98
I can't understand how to use it

[2021-08-11 16:07] joeldenning commented on #98
The import map should be automatically created if it's not present, when using s3 or azure. The other IO methods don't have this implemented yet. Which IO method are you using?

[2022-01-18 10:07] raimonds-malisevs opened #128 "AWS, s3, AccessControlListNotSupported"
Hello.
When I try to use AWS S3 bucket as storage for import-maps with "ACLs disabled" option enabled for the bucket I get this error:
"Could not patch service -- AccessControlListNotSupported: The bucket does not allow ACLs".

From documentation: "If the bucket that you're uploading objects to uses the bucket owner enforced setting for S3 Object Ownership, ACLs are disabled and no longer affect p

[2022-01-19 12:41] raimonds-malisevs commented on #128
Found the solution. To make it work, I need to add this to my config.js:
"s3":{
  "putObject": {
    "ACL": "bucket-owner-full-control"
  }
}

[2022-01-19 12:41] #128 closed

[2022-02-09 11:07] vctqs1 opened #129 "How make an HTTP request with curl or http when `username` and `password` was set?"
Hello, I'm doing some experiment with Dockerfile
and setting HTTP_USERNAME and HTTP_PASSWORD

but I will fail when I call at normally (like docs)
[code]

[2022-02-09 11:13] vctqs1 commented on #129
sorry I get confused `-a username:password` will help
[code]

[2022-02-09 11:13] #129 closed

[2022-04-28 13:13] phytter commented on #84
Hi, i'm trying to make import-map-deployer work with Minio, but i'm facing some problems.
Probably i misunderstand how to do the propertily configuration.

My selfhosted.domain is something like that "minio.company.com.br"

So, accordingly the docs, my location will look like "spaces://minio.minio.company.com.br/import-map.json". It's right?

@iot-resister can you provide some example more real?

[2022-07-29 22:13] jdcrensh-bayer opened #138 "How to delete scopes?"
Was able to add scopes via PATCH import-map.json, but can't seem to find a way to clean them up after adding them. Is there currently a solution for this?

[2022-09-02 04:57] ThaddeusJiang opened #139 "Could provide Azure Storage examples?"
I know we have supported Azure Storage, could provide Azure Storage examples?

[2022-09-02 04:58] ThaddeusJiang commented on #139
I will try this weekend.

[2022-11-11 02:44] yzAlvin commented on #74
just leaving a comment for anyone else wondering the same thing:
I was able to get the import-map-deployer running in docker to work the the IAM role assigned to the ECS task, just have to make sure the role has a policy to allow access to the import map s3 buckets.